*.exe
*.Cache
csharp_client/connectToGoServer/obj/Debug/*
csharp_client/connectToGoServer/bin/Debug/*
go_server/server.config
victoriest_server
csharp_client/.vs/connectToGoServer/v15/Server/sqlite3/storage.ide
csharp_client/.vs/connectToGoServer/v15/Server/sqlite3/db.lock
csharp_client/.vs/connectToGoServer/v15/.suo

go_server/.idea/*